In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('Clinical_and_Other_Features.xlsx')
df.columns = df.iloc[0]
df = df.iloc[2:]
df.reset_index(drop=True, inplace=True)
df.head()

,Patient ID,Days to MRI (From the Date of Diagnosis),Manufacturer,Manufacturer Model Name,Scan Options,Field Strength (Tesla),Patient Position During MRI,Image Position of Patient,Contrast Agent,Contrast Bolus Volume (mL),...,Therapeutic or Prophylactic Oophorectomy as part of Endocrine Therapy,Neoadjuvant Anti-Her2 Neu Therapy,Adjuvant Anti-Her2 Neu Therapy,Received Neoadjuvant Therapy or Not,Pathologic response to Neoadjuvant therapy: Pathologic stage (T) following neoadjuvant therapy,Pathologic response to Neoadjuvant therapy: Pathologic stage (N) following neoadjuvant therapy,Pathologic response to Neoadjuvant therapy: Pathologic stage (M) following neoadjuvant therapy,Overall Near-complete Response: Stricter Definition,Overall Near-complete Response: Looser Definition,Near-complete Response (Graded Measure)
0,Breast_MRI_001,6,2,0,5,1,0,-191.8003 X -176.1259 X 86.6065,1,15,...,1,1,1,1,1,-1,-1,0,0,0
1,Breast_MRI_002,12,0,4,1,3,0,154.724 X 176.048 X 94.5771,1,NaN,...,0,0,0,1,NaN,NaN,NaN,2,2,4
2,Breast_MRI_003,10,0,3,2,3,0,174.658 X 228.317 X 88.4878,1,NaN,...,0,0,0,1,1,1,-1,0,0,0
3,Breast_MRI_004,18,0,4,1,1,0,188.148 X 194.282 X 94.1832,1,NaN,...,0,0,0,2,NaN,NaN,NaN,NaN,NaN,NaN
4,Breast_MRI_005,12,2,0,5,1,1,-173.063 X -150.7869 X 59.161,1,5,...,0,1,1,1,0,0,-1,1,1,1

### MRI Technical Information

MRI technical information. These fields were collected from the pre-contrast sequence and, if they were not available in the pre-contrast sequence, they were collected from the post-contrast sequences. To calculate the â€˜Days to MRI from Diagnosisâ€™, the date of diagnosis obtained in the clinical report was subtracted from the date of MRI acquisition.

* Days to MRI from diagnosis
* Manufacturer
* Manufacturer model name
* Scan option
* Field strength (Tesla)
* Patient position during MRI
* Image position of patient
* Contrast bolus volume (mL)
* Repetition time
* Echo time
* Acquisition matrix
* Slice thickness
* Rows
* Columns
* Reconstruction diameter
* Flip angle
* Field of view (cm)

In [3]:
# df.columns[1:19]
mri_tech_cols = ['Days to MRI (From the Date of Diagnosis)', 'Manufacturer',
       'Manufacturer Model Name', 'Scan Options', 'Field Strength (Tesla)',
       'Patient Position During MRI', 'Image Position of Patient',
       'Contrast Agent', 'Contrast Bolus Volume (mL)', 'TR (Repetition Time)',
       'TE (Echo Time)', 'Acquisition Matrix', 'Slice Thickness ', 'Rows',
       'Columns', 'Reconstruction Diameter ', 'Flip Angle \n',
       'FOV Computed (Field of View) in cm ']

mri_tech_df = df[mri_tech_cols]

In [4]:
mri_tech_df

,Days to MRI (From the Date of Diagnosis),Manufacturer,Manufacturer Model Name,Scan Options,Field Strength (Tesla),Patient Position During MRI,Image Position of Patient,Contrast Agent,Contrast Bolus Volume (mL),TR (Repetition Time),TE (Echo Time),Acquisition Matrix,Slice Thickness,Rows,Columns,Reconstruction Diameter,Flip Angle \n,FOV Computed (Field of View) in cm
0,6,2,0,5,1,0,-191.8003 X -176.1259 X 86.6065,1,15,4.12,1.36,9,5,1,1,NaN,3,15
1,12,0,4,1,3,0,154.724 X 176.048 X 94.5771,1,NaN,6.918,2.704,5,12,2,2,4,2,5
2,10,0,3,2,3,0,174.658 X 228.317 X 88.4878,1,NaN,5.527,2.416,2,18,2,2,10,2,14
3,18,0,4,1,1,0,188.148 X 194.282 X 94.1832,1,NaN,4.856,2.26,1,18,2,2,11,2,15
4,12,2,0,5,1,1,-173.063 X -150.7869 X 59.161,1,5,4.27,1.34,9,18,1,1,NaN,2,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
917,6,0,4,1,1,0,179.537 X 165.877 X 100,4,NaN,5.454,2.58,4,19,2,2,10,2,14
918,24,0,4,1,1,0,172.595 X 192.108 X 130.246,4,NaN,5.627,2.604,4,19,2,2,9,2,11
919,21,2,0,5,1,1,-173.6078 X -147.4121 X 78.5315,3,5,4.31,1.36,9,18,1,1,NaN,2,11
920,21,0,1,1,1,0,206.292 X 221.499 X 118.632,3,NaN,5.144,2.388,3,8,2,2,15,2,21
921,19,0,1,1,1,0,187.894 X 204.024 X 118.165,3,NaN,5.296,2.456,3,18,2,2,11,2,15

### Demographics

Demographics. These data were obtained from the Oncology clinic note in the electronic medical record.

* Age in days at diagnosis
* Menopausal status at diagnosis (based on clinical notes in the electronic medical record)
* Race/ethnicity (White, Black, Asian, Native American, Hispanic, Multiethnic, Hawaiin, American Indian)
* Metastatic disease at presentation (no,yes)

In [5]:
# demographics = df[19:23]
# df.columns[19:23]
demographics = ['Date of Birth (Days)', 'Menopause (at diagnosis)',
       'Race and Ethnicity',
       'Metastatic at Presentation (Outside of Lymph Nodes)']

demographics_df = df[demographics]
demographics_df.head()

,Date of Birth (Days),Menopause (at diagnosis),Race and Ethnicity,Metastatic at Presentation (Outside of Lymph Nodes)
0,-15209,0,2,0
1,-14061,0,2,0
2,-22685,1,1,0
3,-21479,1,1,0
4,-13932,0,5,0

* Taking date of diagnosis as day 0 [Functional Check : numeric entries will be negative only, non-numeric ones will be NA or NC ]
* {0 = pre,
1 = post,
2 = N/A}
* Race : {0 = N/A
1 = white,
2 = black,
3 = asian,
4 = native,
5 = hispanic,
6 = multi,
7 = hawa,    8 = amer indian}
* {0 = no
1 = yes}

In [6]:
demographics_df.isnull().sum()

0
Date of Birth (Days)                                   0
Menopause (at diagnosis)                               0
Race and Ethnicity                                     0
Metastatic at Presentation (Outside of Lymph Nodes)    0
dtype: int64

### Tumor Characteristics

Tumor Characteristics. These data were obtained from the pathology biopsy report.

* Estrogen receptor status (negative, positive)
* Progesterone receptor status (negative, positive)
* Human epidermal growth factor 2 receptor status (negative, positive)
* Molecular subtype (luminal-like, ER/PR positive and HER2 positive, HER2, triple negative)
* Oncotype score
* TNM staging (based on combined pathologic and clinical staging)
* Tumor grade (tubule, nuclear, and mitotic)
* Nottingham grade (low, intermediate, high)
* Histologic type (ductal carcinoma in situ, invasive ductal carcinoma, invasive lobular carcinoma, metaplastic, * * * lobular carcinoma in situ, tubular, mixed type, micropapillary, colloid)
* Tumor location (left,right)
* Tumor position (clock face position, i.e. L 12 means left breast 12 oâ€™clock)
* Bilateral breast cancer (yes,no), if bilateral breast cancer different receptor status (yes,no)
* Side annotated on the imaging (left,right)
* For other side if bilateral: side of cancer, oncotype score, nottingham grade, ER status, PR status, HER2 status, molecular subtype)

In [7]:
tumor_characteristics = ['ER', 'PR', 'HER2', 'Mol Subtype', 'Oncotype score', 'Staging(Tumor Size)# [T]', 'Staging(Nodes)#(Nx replaced by -1)[N]', 'Staging(Metastasis)#(Mx -replaced by -1)[M]',
       'Tumor Grade(T) (Tubule)', 'Tumor Grade(N) (Nuclear)', 'Tumor Grade(M) (Mitotic)', 'Nottingham grade', 'Histologic type', 'Tumor Location', 'Position' ,'Bilateral Information',
        'If Bilateral, Different Rec Status {0=no 1=yes}', 'Side Annotated {L=left R=right}', 'For Other Side If Bilateral', 
        'Oncotype score (for the other side){##}', 'Nottingham grade (for the other side){#}', 'ER (for the other side) {0 = neg, 1 = pos}', 'PR (for the other side) {0 = neg, 1 = pos}', 
        'HER2 (for the other side) {0 = neg, 1 = pos, 2=borderline}', 'Mol Subtype (for the other side) {0 = luminal-like, 1 = ER/PR pos, HER2 pos, 2 = her2, 3 = trip neg}']

In [8]:
assert len(df.columns) == len(list(df.columns[:23]) + tumor_characteristics + list(df.columns[48:]))
df.columns = list(df.columns[:23]) + tumor_characteristics + list(df.columns[48:])

In [9]:
df[tumor_characteristics].head()

,ER,PR,HER2,Mol Subtype,Oncotype score,Staging(Tumor Size)# [T],Staging(Nodes)#(Nx replaced by -1)[N],Staging(Metastasis)#(Mx -replaced by -1)[M],Tumor Grade(T) (Tubule),Tumor Grade(N) (Nuclear),...,Bilateral Information,"If Bilateral, Different Rec Status {0=no 1=yes}",Side Annotated {L=left R=right},For Other Side If Bilateral,Oncotype score (for the other side){##},Nottingham grade (for the other side){#},"ER (for the other side) {0 = neg, 1 = pos}","PR (for the other side) {0 = neg, 1 = pos}","HER2 (for the other side) {0 = neg, 1 = pos, 2=borderline}","Mol Subtype (for the other side) {0 = luminal-like, 1 = ER/PR pos, HER2 pos, 2 = her2, 3 = trip neg}"
0,0,0,1,2,NaN,2,1,0,3,2,...,0,NP,NP,NP,NP,NP,NP,NP,NP,NP
1,0,0,0,3,NaN,2,0,0,3,3,...,0,NP,NP,NP,NP,NP,NP,NP,NP,NP
2,1,1,0,0,8,2,1,0,3,2,...,NC,NC,NC,NC,NC,NC,NC,NC,NC,NC
3,1,1,0,0,14,1,0,0,3,2,...,0,NP,NP,NP,NP,NP,NP,NP,NP,NP
4,1,0,1,1,NaN,2,1,0,3,3,...,0,NP,NP,NP,NP,NP,NP,NP,NP,NP

In [10]:
# total number of rows
df.shape[0]

922

In [11]:
# tumor_characteristics = 
df[tumor_characteristics].isnull().sum()

ER                                                                                                        0
PR                                                                                                        0
HER2                                                                                                      0
Mol Subtype                                                                                               0
Oncotype score                                                                                          661
Staging(Tumor Size)# [T]                                                                                  6
Staging(Nodes)#(Nx replaced by -1)[N]                                                                    24
Staging(Metastasis)#(Mx -replaced by -1)[M]                                                               0
Tumor Grade(T) (Tubule)                                                                                  15
Tumor Grade(N) (Nuclear)                                                                                  7
Tumor Grade(M) (Mitotic)                                                                                 21
Nottingham grade                                                                                        284
Histologic type                                                                                         276
Tumor Location                                                                                          271
Position                                                                                                  0
Bilateral Information                                                                                     0
If Bilateral, Different Rec Status {0=no 1=yes}                                                           0
Side Annotated {L=left R=right}                                                                           0
For Other Side If Bilateral                                                                               0
Oncotype score (for the other side){##}                                                                  26
Nottingham grade (for the other side){#}                                                                  1
ER (for the other side) {0 = neg, 1 = pos}                                                                0
PR (for the other side) {0 = neg, 1 = pos}                                                                0
HER2 (for the other side) {0 = neg, 1 = pos, 2=borderline}                                                0
Mol Subtype (for the other side) {0 = luminal-like, 1 = ER/PR pos, HER2 pos, 2 = her2, 3 = trip neg}      0
dtype: int64

### MRI Findings

MRI Findings. These data were obtained from the radiologist MRI report.

* Multicentric/multifocal (no,yes)
* Contralateral breast involvement (no,yes)
* Lymphadenopathy or suspicious lymph nodes (no,yes)
* Skin/nipple involvement (no,yes)
* Pectoral muscle/chest involvement (no,yes)

In [12]:
mri_findings = df.columns[48:53]
mri_findings_df = df[mri_findings]
mri_findings_df.head()

,Multicentric/Multifocal,Contralateral Breast Involvement,Lymphadenopathy or Suspicious Nodes,Skin/Nipple Invovlement,Pec/Chest Involvement
0,0,0,0,0,0
1,0,0,0,0,0
2,1,0,1,0,0
3,0,0,0,0,0
4,1,0,1,0,0

In [15]:
mri_findings

Index(['Multicentric/Multifocal', 'Contralateral Breast Involvement',
       'Lymphadenopathy or Suspicious Nodes', 'Skin/Nipple Invovlement',
       'Pec/Chest Involvement'],
      dtype='object')

In [20]:
mri_findings_df.isnull().sum()

Multicentric/Multifocal                0
Contralateral Breast Involvement       0
Lymphadenopathy or Suspicious Nodes    0
Skin/Nipple Invovlement                0
Pec/Chest Involvement                  0
dtype: int64

### Surgery

Surgery. These data were obtained from the Oncology clinic note in the electronic medical record.

* Surgery status (no,yes)
* Days to surgery from diagnosis
* Definitive surgery type (breast conservation therapy, mastectomy)

In [16]:
surgery = df.columns[53:56]
surgery_df = df[surgery]
surgery_df.head()

  Surgery Days to Surgery (from the date of diagnosis) Definitive Surgery Type
0       1                                          257                       0
1       1                                          192                       0
2       1                                          168                       1
3       1                                           29                       0
4       1                                          159                       1

In [17]:
surgery

Index(['Surgery', 'Days to Surgery (from the date of diagnosis)',
       'Definitive Surgery Type'],
      dtype='object')

In [22]:
surgery_df.isnull().sum()

Surgery                                          7
Days to Surgery (from the date of diagnosis)    11
Definitive Surgery Type                          7
dtype: int64

### Radiation Therapy

Radiation Therapy. These data were obtained from the Oncology clinic note in the electronic medical record.

* Neoadjuvant radiation (no,yes)
* Adjuvant radiation (no,yes)

In [18]:
radiation_therapy = df.columns[56:58]
radiation_therapy_df = df[radiation_therapy]
radiation_therapy_df.head()

  Neoadjuvant Radiation Therapy Adjuvant Radiation Therapy
0                             0                          1
1                             0                          1
2                             0                          0
3                             0                          1
4                             0                          1

In [19]:
radiation_therapy

Index(['Neoadjuvant Radiation Therapy', 'Adjuvant Radiation Therapy'], dtype='object')

In [24]:
radiation_therapy_df.isnull().sum()

Neoadjuvant Radiation Therapy    8
Adjuvant Radiation Therapy       9
dtype: int64

### Tumor response

Tumor response. These data were obtained from the Oncology clinic note in the electronic medical record. Please note this data was obtained from the initial evaluation of the electronic medical record. Columns further to the right in the spreadsheet, labeled Pathological Response to Neo-Adjuvant Therapy and Near-Complete Response were obtained on second review of the electronic medical record with a few updates made to the data.

* Clinical response (obtained from radiologist imaging report)
* Pathologic response to neoadjuvant therapy (complete response, not complete response, DCIS only remaining, LCIS only remaining, treatment response assessment unavailable, not applicable)

In [20]:
tumor_response = df.columns[58:60]
tumor_response_df = df[tumor_response]
tumor_response

Index(['Clinical Response, Evaluated Through Imaging ', 'Pathologic Response to Neoadjuvant Therapy'], dtype='object')

### Recurrence

Recurrence. These data were obtained from the Oncology clinic note in the electronic medical record.

* No, yes
* If yes: days to local recurrence and/or days to distant recurrence from date of diagnosis

In [21]:
recurrence = df.columns[60:63]
recurrence_df = df[recurrence]
recurrence_df.head()

,Recurrence event(s),Days to local recurrence (from the date of diagnosis),Days to distant recurrence(from the date of diagnosis)
0,0,NP,NP
1,0,NP,NP
2,0,NP,NP
3,0,NP,NP
4,0,NP,NP

In [22]:
recurrence

Index(['Recurrence event(s)',
       'Days to local recurrence (from the date of diagnosis) ',
       'Days to distant recurrence(from the date of diagnosis) '],
      dtype='object')

In [27]:
recurrence_df.isnull().sum()

Recurrence event(s)                                        2
Days to local recurrence (from the date of diagnosis)      0
Days to distant recurrence(from the date of diagnosis)     0
dtype: int64

### Follow-up

Follow-up. These data were obtained from all clinical notes in the electronic medical record.

* Days to death from diagnosis
* Days to last local recurrence free assessment (based on clinical notes in the electronic medical record)
* Days to last distant recurrence free assessment (based on clinical notes in the electronic medical record)
* Days to last contact in electronic medical record (last time patient known to be alive, unless age of death is reported)

In [24]:
follow_up = df.columns[63:67]
follow_up_df = df[follow_up]
follow_up_df.head()

,Days to death (from the date of diagnosis),Days to last local recurrence free assessment (from the date of diagnosis),Days to last distant recurrence free assemssment(from the date of diagnosis),"Age at last contact in EMR f/u(days)(from the date of diagnosis) ,last time patient known to be alive, unless age of death is reported(in such case the age of death"
0,NP,2940,2940,2940
1,NP,1649,1649,1649
2,NP,1697,1697,NaN
3,NP,1990,1990,1990
4,NP,1845,1845,1845

In [25]:
follow_up

Index(['Days to death (from the date of diagnosis) ',
       'Days to last local recurrence free assessment (from the date of diagnosis) ',
       'Days to last distant recurrence free assemssment(from the date of diagnosis) ',
       'Age at last contact in EMR f/u(days)(from the date of diagnosis) ,last time patient known to be alive, unless age of death is reported(in such case the age of death'],
      dtype='object')

In [29]:
follow_up_df.isnull().sum()

Days to death (from the date of diagnosis)                                                                                                                                0
Days to last local recurrence free assessment (from the date of diagnosis)                                                                                                2
Days to last distant recurrence free assemssment(from the date of diagnosis)                                                                                              2
Age at last contact in EMR f/u(days)(from the date of diagnosis) ,last time patient known to be alive, unless age of death is reported(in such case the age of death    271
dtype: int64

In [54]:
# df.columns[67]
# # drop column 67 BIRADS Data
# df.drop(df.columns[67], axis=1, inplace=True)

### Mammography Characteristics

Mammography Characteristics. These data were obtained from the radiologist preoperative mammogram report.

* Age at mammogram
* Breast density (heterogeneous, scattered, minimal, moderate, extremely, predominantly fatty)
* Lesion shape (oval, irregular, lobular, reniform, stellate)
* Lesion margin (obscured, spiculated, indistinct/ill-defined, circumscribed)
* Architectural distortion (no,yes)
* Lesion density
* Calcifications (yes, pleomorphic, heterogeneous, microcalcification, linear, clustered, amorphous, branching)
* Lesion size (cm)

In [26]:
# mamography_characteristics = df.columns[67:69]
mamography_characteristics = df.columns[68:76]
mamography_characteristics_df = df[mamography_characteristics]
mamography_characteristics_df.head()

,Age at mammo (days),Breast Density,Shape,Shape,Margin,Margin,Architectural distortion,Mass Density,Calcifications,Tumor Size (cm),Tumor Size (cm)
0,NC,NC,NC,NC,NC,NC,NC,NC,NC,NC,NC
1,NC,NC,NC,NC,NC,NC,NC,NC,NC,NC,NC
2,-4,1,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN
3,NC,NC,NC,NC,NC,NC,NC,NC,NC,NC,NC
4,NC,NC,NC,NC,NC,NC,NC,NC,NC,NC,NC

In [27]:
mamography_characteristics

Index(['Age at mammo (days)', 'Breast Density', 'Shape', 'Margin',
       'Architectural distortion', 'Mass Density', 'Calcifications',
       'Tumor Size (cm)'],
      dtype='object')

In [31]:
mamography_characteristics_df.isnull().sum()

Age at mammo (days)         138
Breast Density              114
Shape                       207
Shape                       161
Margin                      200
Margin                      200
Architectural distortion    251
Mass Density                254
Calcifications              228
Tumor Size (cm)             174
Tumor Size (cm)             135
dtype: int64

### Ultrasound (US) features

Ultrasound (US) features. These data were obtained from the radiologist preoperative ultrasound report.

* Lesion shape (oval, irregular, lobular)
* Lesion margin (obscured, ill-defined, spiculated, indistinct, circumscribed, microlobulated, angular, irregular)
* Lesion size (cm)
* Lesion echogenicity (hypoechoic, hyperechoic, isoechoic, anechoic, irregular, mixed, boundary)
* Solid
* Posterior acoustic shadowing

In [28]:
# us_features = df.columns[76:80]
us_features = df.columns[76:82]
us_features_df = df[us_features]
us_features_df.head()

,Shape,Shape,Margin,Margin,Tumor Size (cm),Tumor Size (cm),Echogenicity,Solid,Posterior acoustic shadowing
0,NC,NC,NC,NC,NC,NC,NC,NC,NC
1,NC,NC,NC,NC,NC,NC,NC,NC,NC
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NC,NC,NC,NC,NC,NC,NC,NC,NC
4,NC,NC,NC,NC,NC,NC,NC,NC,NC

In [29]:
us_features

Index(['Shape', 'Margin', 'Tumor Size (cm)', 'Echogenicity', 'Solid',
       'Posterior acoustic shadowing'],
      dtype='object')

In [33]:
us_features_df.isnull().sum()

Shape                           207
Shape                           161
Margin                          200
Margin                          200
Tumor Size (cm)                 174
Tumor Size (cm)                 135
Echogenicity                    157
Solid                           257
Posterior acoustic shadowing    235
dtype: int64

### Therapy data

Therapy data. Please note this data was obtained on second review of the electronic medical record with a few updates made to the data.

* Chemotherapy (neoadjuvant, adjuvant)

In [30]:
# chemotherapy
chemotherapy = df.columns[82:84]
chemotherapy_df = df[chemotherapy]

In [31]:
chemotherapy

Index(['Neoadjuvant Chemotherapy', 'Adjuvant Chemotherapy'], dtype='object')

In [36]:
chemotherapy_df.isnull().sum()

Neoadjuvant Chemotherapy    29
Adjuvant Chemotherapy       49
dtype: int64

* Endocrine Therapy (neoadjuvant, adjuvant, known ovarian status, number of ovaries in situ, therapeutic or prophylactic oophorectomy as part of endocrine therapy)

In [32]:
# endocrine therapy
endocrine_therapy = df.columns[84:89]
endocrine_therapy_df = df[endocrine_therapy]
endocrine_therapy_df.head()

,Neoadjuvant Endocrine Therapy Medications,Adjuvant Endocrine Therapy Medications,Known Ovarian Status,Number of Ovaries In Situ \n,Therapeutic or Prophylactic Oophorectomy as part of Endocrine Therapy
0,0,0,1,0,1
1,0,0,0,NP,0
2,1,1,0,NP,0
3,0,1,0,NP,0
4,0,1,0,NP,0

In [33]:
endocrine_therapy

Index(['Neoadjuvant Endocrine Therapy Medications ',
       'Adjuvant Endocrine Therapy Medications ', 'Known Ovarian Status ',
       'Number of Ovaries In Situ \n',
       'Therapeutic or Prophylactic Oophorectomy as part of Endocrine Therapy '],
      dtype='object')

In [39]:
endocrine_therapy_df.isnull().sum()

Neoadjuvant Endocrine Therapy Medications                                 30
Adjuvant Endocrine Therapy Medications                                    54
Known Ovarian Status                                                       0
Number of Ovaries In Situ \n                                               0
Therapeutic or Prophylactic Oophorectomy as part of Endocrine Therapy      0
dtype: int64

* Anti-Her2/Neu Therapy (neoadjuvant, adjuvant)

In [34]:
# anti-her2 neu therapy
anti_her2_neu_therapy = df.columns[89:91]
anti_her2_neu_therapy_df = df[anti_her2_neu_therapy]
anti_her2_neu_therapy_df.head()

  Neoadjuvant Anti-Her2 Neu Therapy Adjuvant Anti-Her2 Neu Therapy
0                                 1                               1
1                                 0                               0
2                                 0                               0
3                                 0                               0
4                                 1                               1

In [35]:
anti_her2_neu_therapy

Index(['Neoadjuvant Anti-Her2 Neu Therapy', 'Adjuvant Anti-Her2 Neu Therapy '], dtype='object')

In [41]:
anti_her2_neu_therapy_df.isnull().sum()

Neoadjuvant Anti-Her2 Neu Therapy    30
Adjuvant Anti-Her2 Neu Therapy       51
dtype: int64

* Neo-Adjuvant Therapy (received neoadjuvant or not)

In [43]:
# Neoadjuvant therapy
neoadjuvant_therapy =  df.columns[91:92]
neoadjuvant_therapy_df = df[neoadjuvant_therapy]
neoadjuvant_therapy_df.head()

  Received Neoadjuvant Therapy or Not
0                                   1
1                                   1
2                                   1
3                                   2
4                                   1

In [44]:
neoadjuvant_therapy_df.isnull().sum()

Received Neoadjuvant Therapy or Not    29
dtype: int64

* Pathologic Response to Neo-Adjuvant Therapy (pathologic stage (T) following neoadjuvant therapy, pathologic stage (N) following neoadjuvant therapy, pathologic stage (M) following neoadjuvant therapy)

In [36]:
# Pathologic Response to Neoadjuvant Therapy
pathologic_response_to_neoadjuvant_therapy = df.columns[92:95]
pathologic_response_to_neoadjuvant_therapy_df = df[pathologic_response_to_neoadjuvant_therapy]
pathologic_response_to_neoadjuvant_therapy_df.head()

,Pathologic response to Neoadjuvant therapy: Pathologic stage (T) following neoadjuvant therapy,Pathologic response to Neoadjuvant therapy: Pathologic stage (N) following neoadjuvant therapy,Pathologic response to Neoadjuvant therapy: Pathologic stage (M) following neoadjuvant therapy
0,1,-1,-1
1,NaN,NaN,NaN
2,1,1,-1
3,NaN,NaN,NaN
4,0,0,-1

In [37]:
pathologic_response_to_neoadjuvant_therapy

Index(['Pathologic response to Neoadjuvant therapy: Pathologic stage (T) following neoadjuvant therapy ',
       'Pathologic response to Neoadjuvant therapy:  Pathologic stage (N) following neoadjuvant therapy',
       'Pathologic response to Neoadjuvant therapy:  Pathologic stage (M) following neoadjuvant therapy '],
      dtype='object')

In [46]:
pathologic_response_to_neoadjuvant_therapy_df.isnull().sum()

Pathologic response to Neoadjuvant therapy: Pathologic stage (T) following neoadjuvant therapy      653
Pathologic response to Neoadjuvant therapy:  Pathologic stage (N) following neoadjuvant therapy     652
Pathologic response to Neoadjuvant therapy:  Pathologic stage (M) following neoadjuvant therapy     657
dtype: int64

* Near-Complete Response (overall near-complete response (stricter definition), overall near-complete response (looser definition), near-complete response (graded measure))

In [38]:
# Near Complete Response
near_complete_response  = df.columns[95:98]
near_complete_response_df = df[near_complete_response]

In [49]:
near_complete_response_df.head()

,Overall Near-complete Response: Stricter Definition,Overall Near-complete Response: Looser Definition,Near-complete Response (Graded Measure)
0,0,0,0
1,2,2,4
2,0,0,0
3,NaN,NaN,NaN
4,1,1,1

In [50]:
near_complete_response_df.isnull().sum()

Overall Near-complete Response:  Stricter Definition    610
Overall Near-complete Response:  Looser Definition      610
Near-complete Response (Graded Measure)                 610
dtype: int64

In [39]:
near_complete_response

Index(['Overall Near-complete Response:  Stricter Definition',
       'Overall Near-complete Response:  Looser Definition',
       'Near-complete Response (Graded Measure)'],
      dtype='object')